
@model IEnumerable<Rozetka.Mobile>

<div class="card">
    <div class="card-body">
        <h1>Most Popular Phones</h1>
        @foreach (var item in Model)
        {
    <div class="description">
        <h3>@item.Name</h3>
        <h4 style="color:purple">Popularity: @item.Popularity</h4>
        <h5>Price: @item.Price</h5>
        <h6>Reviews: @item.NumberOfReviews</h6>
        <div class="card-footer">
            <a href="@item.ProductLink" class="btn btn-success w-100" target="_blank">Open in Rozetka</a>
        </div>
    </div>
            <hr />   
        }
    </div>
</div>